:root{
  --alpha:red;
  --easy:green;
  --medium:orange;
  --hard:red;
  --crazy:  blueviolet;
}

.easy.color{
  color: var(--easy);
}
.medium.color{
  color: var(--medium);
}
.hard.color{
  color: var(--hard);
}
.crazy.color{
  color: var(--crazy);
}

.easy.bg-color{
  background-color: var(--easy);
}
.medium.bg-color{
  background-color: var(--medium);
}
.hard.bg-color{
  background-color: var(--hard);
}
.crazy.bg-color{
  background-color: var(--crazy);
}

.easy.bg-color{
 
}

*{
  margin: 0;
  padding: 0;
}

body {

  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(103, 136, 144);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;  
  background-color: aqua;
}
.main-nav > .select-box{
  width: 30%;
  height: 25px;
  font-size: 15px;
  border-radius: 5px;
}
main{
  width: 100vw;
  padding: 10px 0;
}
main > section{
  
  width:96% ;
  padding: 2%;
  }
.bottom-nav{
  display: flex;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.bottom-nav > a {
  width: 50%;
  display: flex;
  justify-content: center;
  justify-content: center;
  background-color: inherit;

}
.bottom-nav > a:active {
  filter: invert(15%);
}
.bottom-nav > a.active {
  filter: invert(15%);

}
.bottom-nav > a:first-child {
 border-right: 1px solid black;
}
.bottom-nav > a > span {
  border: none;
}
.bottom-nav > a > span > svg{
 width: 27px;
 height: 27px;
}