section#task-section{
  counter-reset: task-counter; /* Initialize the counter */
}

section#task-section > .toolbar{
 display: flex;
 align-items: center;
flex-wrap: wrap;
gap: 7px;
border-bottom: 1px solid white;
padding-bottom: 15px;
width: 100%;
}

section#task-section > .toolbar >  .toolbar-item{
 display: flex;
 justify-content: center;
 align-items: center; 
 gap: 5px; 
}
section#task-section > .toolbar >  .toolbar-item > .name{
 color: white;
 font-weight: bold;
}
section#task-section > .toolbar >  .toolbar-item > :is(input,select){
padding: 5px;
border-radius: 17px;
border: none;
background-color: rgb(163, 251, 251);
width: 100%;
outline: none;
}
section#task-section > .toolbar >  .toolbar-item > :is(input,select):active{
  filter: invert(10%);
}

section#task-section > .toolbar >  .toolbar-item.search{
width: 100%;
}

section#task-section > .toolbar >  .toolbar-item.daily{
 width: 100%;
justify-content: flex-start;
}
section#task-section > .toolbar >  .toolbar-item.daily > label{
 cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
section#task-section > .toolbar >  .create-new-task-btn{
    width: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    font-weight: bold;
    align-self: center;
 cursor: pointer;

}
section#task-section > .toolbar >  .create-new-task-btn:active{
 background-color: rgb(163, 251, 251);
}
/* card */
section#task-section > .tasks-wrapper  {
  display: flex;
  flex-direction: column;
  width: 90% ;
  margin: 30px auto;
  gap:15px;
}

/* General task card styles */
section#task-section > .tasks-wrapper > .task-card {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(163, 251, 251);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  font-family: 'Arial', sans-serif;
  counter-increment: task-counter; /* Increment the counter for each task card */
}

 /* effect-shine */
.task-card.ai-suggest.loading {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}


/* Header layout */
section#task-section > .tasks-wrapper > .task-card > .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

section#task-section > .tasks-wrapper > .task-card > .task-header > .task-info {
  display: flex;
  align-items: center;
}

/* Difficulty styling */
section#task-section > .tasks-wrapper > .task-card > .task-header > .task-info > .difficulty {
  padding: 5px 12px;
  border-radius: 17px;
  color: #fff;
  font-size: 0.85em;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
}

/* Daily task icon */


section#task-section > .tasks-wrapper > .task-card[data-repeat_type='once'] > .task-header > .task-info > :is(.daily-icon,.weekly-icon) {
  display: none; 
 }
 section#task-section > .tasks-wrapper > .task-card[data-repeat_type='daily'] > .task-header > .task-info > .weekly-icon {
  display: none; 
 }
 section#task-section > .tasks-wrapper > .task-card[data-repeat_type='weekly'] > .task-header > .task-info > .daily-icon {
  display: none; 
 }

/* Action buttons in the header (edit and delete) */
section#task-section > .tasks-wrapper > .task-card > .task-header > .action-icons {
  display: flex;
  align-items: center;
}

section#task-section > .tasks-wrapper > .task-card > .task-header > .action-icons button {
  background: none;
  border: none;
  font-size: 1.5em;
  margin-left: 8px;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.2s ease;
}

section#task-section > .tasks-wrapper > .task-card > .task-header > .action-icons button:active {
  color: #000;
}

/* Main task content */
section#task-section > .tasks-wrapper > .task-card > .task-content {
  font-size: 1.10em;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.4em;
}
section#task-section > .tasks-wrapper > .task-card > .task-content .index::before {
  content: counter(task-counter) ". "; /* Display the counter value */
  font-size: 1.15em;
}
/* Footer buttons for tick and cross */

section#task-section > .tasks-wrapper > .task-card > .task-footer {
  display: flex;
  justify-content: space-between;
}


section#task-section > .tasks-wrapper > .task-card > .task-footer > button {
  padding: 6px;
  width: 48%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

section#task-section > .tasks-wrapper > .task-card > .task-footer > .tick-btn {
  background-color: #00c853;
  color: #fff;
}

section#task-section > .tasks-wrapper > .task-card > .task-footer > .cross-btn {
  background-color: #d50000;
  color: #fff;
}

/* Button hover and active effects */
section#task-section > .tasks-wrapper > .task-card > .task-footer > .tick-btn:active {
  background-color: #00b24a;
}

section#task-section > .tasks-wrapper > .task-card > .task-footer > .cross-btn:active {
  background-color: #c20000;
}
section#task-section > .tasks-wrapper > .task-card.ai-suggest > .task-footer > .add-to-task-btn{
  width: 100%;
  background-color: #00c853;
}

/*  task-form */

/* Basic form layout */
.task-form {
  width: calc(90% - 40px);
  padding: 20px;
  border-radius: 10px;
  background-color:rgb(103, 136, 144) ;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.task-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Form group layout */
.task-form > .form-group {
  margin-bottom: 20px;
}

.task-form > .form-group label {
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
  color: white;
}

.task-form  .form-control {
  width: calc(100% - 25px);
   border:  3px solid rgb(163, 251, 251);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color:rgb(163, 251, 251);
  transition: border-color .3s;
}
.task-form  .form-control#daily-task-select {
 width: 155.62500px;
}
.task-form  .form-control:focus {
  border-color:  white;
  outline: none;
}

/* Difficulty Dropdown */
.task-form > .difficulty-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.task-form > .difficulty-group > .right{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0;
}
.task-form > .difficulty-group > .right > #difficulty-select{
 border-radius: 5px 0 0 5px;
}

.task-form > .difficulty-group > .right > #difficulty-select.loading{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
.task-form > .difficulty-group > .right > #ai-diff-suggest-btn{
 display: flex;
 padding: 7px;
 background-color: white;
 border: none;
}
.task-form > .difficulty-group > .right > #ai-diff-suggest-btn:disabled{
 filter: invert(30%);
}
.task-form > .difficulty-group > .right > #ai-diff-suggest-btn:active{
  filter: invert(10%);

}

/* Daily Task Switch */
.task-form >.switch-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Toggle switch */
.task-form .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.task-form .switch input {
  display: none;
}

.task-form .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.task-form .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.task-form .switch input:checked + .slider {
  background-color: aqua;
}

.task-form .switch input:checked + .slider:before {
  transform: translateX(26px);
}

/* Submit button */
.task-form > .btns-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-form > .btns-wrapper > button {
  width:  calc(55% - 24px);
  padding: 12px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
