section#task-section{
}
section#task-section > .toolbar{
 display: flex;
 align-items: center;
flex-wrap: wrap;
gap: 7px;
border-bottom: 1px solid white;
padding-bottom: 15px;
}

section#task-section > .toolbar >  .toolbar-item{
 display: flex;
 justify-content: center;
 align-items: center; 
 gap: 5px; 
}
section#task-section > .toolbar >  .toolbar-item > .name{
 color: white;
 font-weight: bold;
}
section#task-section > .toolbar >  .toolbar-item > :is(input,select){
padding: 5px;
border-radius: 10px;
border: none;
background-color: aqua;
width: 100%;
outline: none;
}
section#task-section > .toolbar >  .toolbar-item > :is(input,select):focus{
 background-color: rgb(163, 251, 251);
}

section#task-section > .toolbar >  .toolbar-item.search{
width: 100%;
}

section#task-section > .toolbar >  .toolbar-item.daily{
 width: 100%;
justify-content: flex-start;
}
section#task-section > .toolbar >  .toolbar-item.daily > label{
 cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
section#task-section > .toolbar >  .create-new-task-btn{
    width: max-content;
    padding: 0 7px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    font-weight: bold;
    align-self: center;
 cursor: pointer;

}
section#task-section > .toolbar >  .create-new-task-btn:active{
 background-color: rgb(163, 251, 251);
}

